@model IEnumerable<ITP_298.Section>

@{
    ViewBag.Title = "Sections";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sections</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>



        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Course.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Employee.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Mode)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Room)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Time)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.startDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.endDate)
    </td>



    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.SectionId }) |
        @Html.ActionLink("Details", "Details", new { id = item.SectionId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.SectionId })
    </td>
</tr>
    }

</table>