<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SyllaBest </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    @Html.ActionLink("SyllaBest", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
   
  <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="nav navbar-nav navbar-left">
          <li>@Html.ActionLink("Home", "Index", "Home")&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
          <li>@Html.ActionLink("Faculty", "Index", "Instructor")&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
          <li>@Html.ActionLink("About", "About", "Home")&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
          <li>@Html.ActionLink("Contact", "Contact", "Home")&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
      </ul>
        <ul class="nav navbar-nav navbar-right"> 
            <li> @Html.Partial("_LoginPartial")</li>
        </ul>
</div>
   </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SyllaBest 03/4/2021 </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
